<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Design</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>

  <body>
    <footer class="bg-[#1E3A8A] text-gray-300 pt-12 pb-6">
      <div
        class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10"
      >
        <!-- School Info -->
        <div>
          <img src="images/logop2.png" class="h-18 mb-4" />

          <p class="text-sm leading-relaxed">
            Pearly International School focuses on providing quality education,
            modern learning methods, and strong moral values to build a bright
            future for students.
          </p>

          <div class="flex gap-4 mt-4 text-lg">
            <a href="#" class="hover:text-yellow-400"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="#" class="hover:text-yellow-400"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="#" class="hover:text-yellow-400"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="#" class="hover:text-yellow-400"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>

        <!-- Quick Links -->
        <div>
          <h3
            class="text-xl font-semibold text-white mb-4 border-b-2 border-yellow-400 inline-block pb-1"
          >
            Quick Links
          </h3>

          <ul class="space-y-2 text-sm">
            <li><a href="index.html" class="hover:text-yellow-400">Home</a></li>
            <li>
              <a href="about.html" class="hover:text-yellow-400">About Us</a>
            </li>
            <li>
              <a href="admission.html" class="hover:text-yellow-400"
                >Admission</a
              >
            </li>
            <li>
              <a href="academic.html" class="hover:text-yellow-400"
                >Academics</a
              >
            </li>
            <li>
              <a href="gallery.html" class="hover:text-yellow-400">Gallery</a>
            </li>
            <li>
              <a href="contact.html" class="hover:text-yellow-400">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Contact -->
        <div>
          <h3
            class="text-xl font-semibold text-white mb-4 border-b-2 border-yellow-400 inline-block pb-1"
          >
            Contact
          </h3>

          <ul class="space-y-3 text-sm">
            <li class="flex gap-3">
              <i class="fa-solid fa-location-dot text-yellow-400"></i>
              <span
                >Plot No- 1546, Lane- 4/A, Jagannath Nagar, Bhubaneswar, Odisha
                - 751025</span
              >
            </li>

            <li class="flex gap-3">
              <i class="fa-solid fa-phone text-yellow-400"></i>
              <span>+91 9876543210</span>
            </li>

            <li class="flex gap-3">
              <i class="fa-solid fa-envelope text-yellow-400"></i>
              <span>school@example.com</span>
            </li>
          </ul>
        </div>

        <!-- Map -->
        <div>
          <h3
            class="text-xl font-semibold text-white mb-4 border-b-2 border-yellow-400 inline-block pb-1"
          >
            School Location
          </h3>

          <iframe class="w-full h-40" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.3852596195993!2d85.86112867469497!3d20.284314512931928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a190a0990bc8959%3A0xc43dfa453e53c7a8!2sPearly%20International%20School%20%26%20Daycare!5e0!3m2!1sen!2sin!4v1772873938069!5m2!1sen!2sin" loading="lazy"></iframe>
        </div>
      </div>

      <!-- Bottom -->
      <div class="border-t border-blue-800 mt-10 pt-4 text-center text-sm">
        © 2026
        <span class="text-yellow-400 font-semibold">
          Pearly International School </span
        >. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
